@charset "UTF-8";

body {
  padding-top: 20px;
}

.fileupload-service {
  margin-bottom: 30px;
}

.fileupload-service-title{
  vertical-align:bottom;
  font-size:36px;
  font-weight:500;
  font-family: inherit;
}
